/*.developer
{
    background: url('../img/Ellipse%2083.svg') no-repeat;
    background-size: contain;
}
.manager
{
    background: url('../img/Ellipse%2084.svg') no-repeat;
    background-size: contain;
}

.disign
{
    background: url('../img/Ellipse%2085.svg') no-repeat;
    background-size: contain;
} */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.developer {
    width: 33%;
}

.rangCircle {
    height: 100px;
    width: 100px;
    display: flex;
    border-radius: 250px;
    box-shadow: 0px 0px 40px 0px #00000040;

}

.line {
    width: 10px;
    height: 90px;
    box-shadow: 0px 0px 40px 0px #00000040;
}

.disabled {
    background: #e2e2e2;
}

.btn-spec {
    height: 70px;
    width: 300px;
    padding: auto;
    background: #0596C3;
    font-size: 34px;
    color: white;
    border-radius: 25px;
}

.blueLine {
    border-top: 35px solid #0596C3;
    border-radius: 12px;
}

.btn-ourColor {
    background: #0596C3;
}

.overflow {
    overflow-y: scroll;
}

body {

    font-family: Roboto;
    font-family: 'Comfortaa', cursive;
    background: url(../img/unnamed.jpg) no-repeat;
    background-size: 100% 100%;

}
