/*.developer
{
    background: url('../img/Ellipse%2083.svg') no-repeat;
    background-size: contain;
}
.manager
{
    background: url('../img/Ellipse%2084.svg') no-repeat;
    background-size: contain;
}

.disign
{
    background: url('../img/Ellipse%2085.svg') no-repeat;
    background-size: contain;
} */
.developer
{
    width: 33%;
}
.rangCircle 
{
    height: 100px;
    width: 100px;
    display: flex;
    border-radius: 250px;
    box-shadow: 0px 0px 40px 0px #00000040;
    
}

.line 
{
    width: 10px;
    height: 90px;
    box-shadow: 0px 0px 40px 0px #00000040;
}

.disabled 
{
    background: #e2e2e2;
}